body {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 90%;
}

.headerBlock {
	margin: 0;
	padding-left: 20px;
	overflow: hidden;
	background-color: #008ECC
}

.headerBlock h1 {
	color: #ffffff;
	font-family: arial, sans-serif;
	font-size: 3.5em;
}

.navigationBar {
	background-color: #333;
	align-items: center;
}

.navigationBar div {
	margin-top: 5px;
	padding: 0 20px 0 20px;
}

.navBarList {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline;
}

.navBarList li {
	float = left;
	display: inline-block;
  	padding: 10px 20px;
}

.navBarList li a {
	color: white;
  	text-align: center;
  	text-decoration: none;
}

.navBarList li:hover {
	background-color: #111;
}

.navigationBar div:hover {
	background-color: #111;
}

.newsBlock {
	margin: 30px 40% 30px 30px;
	border-style: solid;
	border-width: 1px;
	border-color: #BDBDBD;
	padding: 0px 5px;
}

.newsBlock h3 {
	display: inline-block;
	padding-left: 5px;
	margin-bottom: 0px;
}

.newsBarList {
	list-style-type: none;
	margin-top: 7px;
	padding-left: 2em;
}

.newsBarList li {
	margin: 0 0 15px 0;
}

.newsBarList li:before {
	content: "-";
	position: absolute;
	margin-left: -1em;
}

.mainContentBlock {
	padding-left: 30px;
	padding-right: 200px;
}

.mainContentBlock h3 {
	margin-bottom: 0;
}

.mainContentBlock p{
	margin-top: 10px;
}
