body {
	margin: 0;
	font-family: arial, sans-serif;
	font-size: 90%;
}

#HeaderBlock {
	margin: 0;
	padding-left: 30px;
	overflow: hidden;
	background-color: #008ECC
}

#HeaderBlock h1 {
	color: #ffffff;
	font-family: arial, sans-serif;
	font-size: 3em;
}

#NavBarList {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#NavBarList li {
	float = left;
	display: inline-block;
  	padding: 10px 30px;
}

#NavBarList li a {
	color: white;
  	text-align: center;
  	text-decoration: none;
}

#NavBarList li:hover {
	background-color: #111;
}

#NewsBlock {
	margin: 30px 40% 30px 30px;
	border-style: solid;
	border-width: 1px;
	padding: 0px 5px;
}

#NewsBlock h3 {
	display: inline-block;
	padding-left: 5px;
	margin-bottom: 5px;
}

#NewsBarList {
	list-style-type: none;
	padding-left: 2em;
}

#NewsBarList li {
	margin: 0 0 15px 0;
}

#NewsBarList li:before {
	content: "-";
	position: absolute;
	margin-left: -1em;
}

#MainContentBlock {
	padding-left: 30px;
	padding-right: 200px;
}
